*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background: black;
    color: white;
}
.header{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.3), rgba(0,0,0,0.7)), url(background.jpg);
    background-size: cover;
    background-position: center;
    padding: 13px 11.47%;
    position: relative;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}
.logo{
    width: 148px;
    cursor: pointer;
    filter: contrast(120%);
    margin-left: 0.5px;
}
nav button{
    border: 0;
    outline: 0;
    background: #db0001;
    color: white;
    padding: 7.2px 15.6px;
    font-size: 14px;
    margin-left: 10px;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 17.5px;
    margin-left: 10.4px;
    padding-bottom: 8px;
}
.langauge-btn{
    display: inline;
    background: rgba(27, 27, 27, 0.7);
    border: 0.05rem solid rgba(255, 255, 255, 0.3);
    padding: 7.2px 15px;
    padding-right: 12px;
    padding-top: 5px;
    font-size: 1rem;
    box-sizing: border-box;
    margin: 4px;
    margin-right: 11.6px;
    padding-left: 12px;
}
.logo2{
    width: 11px;
    display: inline-flex;
    align-items: center;
    margin-left: 10px;
    transform: scale(0.7);
}
.logo3{
    width: 12px;
    filter: invert(100%);
    display: inline-flex;
    align-items: center;
    outline: 2px solid transparent;
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.3); 
    margin-right: 7px;
    transform: scale(1.35);
}
.header-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin-top: -15.5px;
}
.header-content h1{
    font-size: 48px;
    line-height: 70px;
    font-weight: 1000;
    max-width: 750px;
    white-space: nowrap;
    margin-right: 270px;
    margin-top: 9.5px;
}
.header-content h3{
    font-weight: 400;
    font-size: 24px;
    margin-right: 16.5px;
    margin-top: 14px;
}
.header-content p{
    font-weight: 400;
    font-size: 20px;
    margin-right: 16.5px;
    margin-top: 27.5px;
}
/* .email-signup{
    background: white;
    display: flex;
    border-radius: 4px;
    align-items: center;
    margin-top: 30px;
    overflow: hidden;
}
.email-signup input{
    flex: 1;
    border: 0;
    outline: 0;
    margin-left: 20px;
}
.email-signup button{
    background: red;
    outline: 0;
    border: 0;
    font-size: 16px;
    cursor: pointer;
    color: white;
    padding: 15px 30px;
} */